{{#if logged_in }}
    {{#if blogData }}
        <div class="list-group">
        {{#each blogData as |blog| }}
        <a href="/api/comment/{{blog.id}}" class="list-group-item list-group-item-action" data-id="{{blog.id}}" >{{blog.title}}    {{ format_date blog.date_created }}</a>
        {{/each}}
    {{/if}}
{{/if}}

<script src="./js/dashboard"></script>

