{{#if logged_in }}
    <button type="button" id="create" class="btn btn-outline-warning">Create a Post</button>
    {{#if blogData }}
        <div class="list-group">
        {{#each blogData as |blog| }}
        <a href="/api/comment/{{blog.id}}" class="list-group-item list-group-item-action blog-title" data-id="{{blog.id}}" >{{blog.title}}    {{ format_date blog.date_created }}</a>
        {{/each}}
    {{/if}}
{{/if}}

<script src="/js/dashboard.js"></script>

