/* Universal selector */
* {
  font-family: "Arimo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* custom color  */
:root {
  --background-color: #1d2935;
  --button-color: #d5a084;
  --light-color: #ffdad195;
  --point-color: #ffedda;
  --header-color: #ffdad1;
  --container-color: rgba(255, 255, 255, 0.2);
}

.wrapper-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#login-bg {
  background: url("/img/background.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  background: url("/img/background-circle.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.wrapper {
  margin: 7%;
  background-color: transparent;
  min-height: 180px;
  width: 320px;
  color: white;
  border-radius: 12px;
  border: 2px solid var(--container-color);
  padding: 20px 30px;
  min-height: 380px;
  backdrop-filter: blur(10px);
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: white;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  color: white;
  padding: 20px 45px 20px 20px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid var(--container-color);
  border-radius: 8px;
}
.input-box input::placeholder {
  color: white;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}
.wrapper .status,
.wrapper .err-msg {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -10px 0 15px;
  accent-color: white;
  margin-right: 7px;
}

.wrapper .button-action {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.button-action:active {
  color: white;
}

header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--header-color);
}
nav {
  position: relative;
  margin: 15px;
  width: 335px;
  height: 55px;
  background: var(--background-color);
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}
nav a:nth-child(1) {
  width: 100px;
}
nav .start-home,
nav a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
}
nav a:nth-child(2) {
  width: 125px;
}

nav a:nth-child(2):hover ~ .animation {
  width: 125px;
  left: 100px;
}
nav a:nth-child(3) {
  width: 110px;
}

nav a:nth-child(3):hover ~ .animation {
  width: 110px;
  left: 225px;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background-color: var(--button-color);
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}

/*universe io */
.button-action {
  margin: 0;
  position: relative;
  padding: 15px 35px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 3px solid var(--background-color);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 2;
}
.button-action::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  background-color: var(--button-color);
  border-radius: 8px;
  z-index: -1;
  transition: all 0.5s;
}
/* id selector for the title button  */
#title {
  margin: 15px 0 15px 10%;
}

.button-action:hover::after {
  top: 0;
  left: 0;
}
/*leaf icon on the title button*/
.icon-1 {
  position: absolute;
  width: 15%;
  top: 7px;
  right: 20px;
  color: #2f5c2f;
  transform-origin: 100% 100%;
  transform: rotate(-60deg) translateX(160%) translateY(20%);
  z-index: -1;
  transition: all 0.5s;
}
.button-action:hover .icon-1 {
  width: 25%;
  transform: rotate(10deg) translateX(110%) translateY(-40%);
}
.icon-2 {
  position: absolute;
  width: 15%;
  top: 20px;
  left: 10px;
  color: #2f5c2f;
  transform-origin: 100% 100%;
  z-index: -1;
  transition: all 0.5s;
}
.button-action:hover .icon-2 {
  width: 50%;
  top: -40px;
  left: -80px;
  transform: rotate(90deg);
  z-index: 1;
}

/*dashboard button container*/
.btn-container  {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* buttons container for comment handlebars */
.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* all the descendants of btns-container has a margin-left of 5% */
.btns-container > * {
  margin: 1% 0 0 5%;
}


/* universe-io for the edit button */
.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(0, 173, 49);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* Universe io delete button */
.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
/* universe io for the comments */
.bookmarkBtn {
  width: 130px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.062);
  margin: 1% 0;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background-color: rgba(226,181,163,255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .3s;
  font-size: 1.04em;
  font-weight: 600;
}

.bookmarkBtn:hover .IconContainer {
  width: 120px;
  border-radius: 40px;
  transition-duration: .3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: .3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: .3s;
}

/* container for the dashboard*/
.container-db {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% 8% 2%;
  align-items: stretch;
  padding: 5%;
  overflow: auto;
}

/*dashboard blog title list */
.list-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

/* a element selector inside  of the container-db*/
.blog-title{
  border-radius: 8px;
  border: 2px solid var(--button-color);
  background-color: var(--background-color);
  color: white;
  text-decoration: none;
  font-size: larger;
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
}
/*style when each of the a element is hovered */
.blog-title:hover {
  background-color: var(--button-color);
  transition: ease 0.5s;
  border: 2px solid var(--background-color);
}

/* big container */
.container-db {
  border-radius: 12px;
  border: 2px solid var(--container-color);
  padding: 0;
  backdrop-filter: blur(10px);
}

.container-content {
  padding: 5%;
}

/* post class element for a single posting  */
.post {
  margin: 0;
  display: flex;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: inherit;
  background-color: var(--container-color);
  font-size: 35px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color: var(--background-color);
}

/* blog post details */
.detail, .ind-comment{
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  background-color: var(--light-color);
  border-radius: 8px;
  padding: 3%;
  color: var(--background-color);
  border: 2px solid var(--container-color);
}

/* comments container in comment.handlebar */
.comments{
  display: none;
  flex-direction: column;
}

/* individual comment container */
.ind-comment  {
 display: flex;
 flex-direction: column;
}

/* container for user info in the comment section */
.comment-user {
  display: flex;
  flex-direction: row;
}


/* style for edit/create entry box */
.input-container {
  width: 100%;
}
.entry-area {
  position: relative;
  height: 80px;
  line-height: 80px;
}

#blog-title {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 2.2em;
  padding: 0 30px;
  line-height: 80px;
  border-radius: 8px;
  border: 4px solid var(--background-color);
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.labelline  {
  position: absolute;
  font-size: 1.6rem;
  color: white;
  padding: 0 25px;
  margin: 0 20px;
  background-color: transparent;
  border-radius: 8px;
  transition: 0.2s ease;
}


#blog-title:focus, #blog-title:valid{
  color: var(--background-color);
  border: 4px solid var(--button-color);

}

#blog-title:focus + .labelline, #blog-title:valid + .labelline  {
  color: white;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
  background-color: var(--background-color); 
  
}