:root{
  --background-color: #1d2935;
  --button-color: #d5a084;
  --light-color: #FFDAD1;
  --point-color: #FFEDDA;
  --header-color : #ffdad1b6;

}

.wrapper-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#login-bg {
  background: url("/img/background.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  background: url("/img/clouds.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}


.wrapper {
  margin: 7%;
  background-color: transparent;
  min-height: 180px;
  width: 320px;
  color: white;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 20px 30px;
  min-height: 380px;
  backdrop-filter: blur(10px);
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: white;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  color: white;
  padding: 20px 45px 20px 20px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.input-box input::placeholder {
  color: white;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}
.wrapper .status,
.wrapper .err-msg {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -10px 0 15px;
  accent-color: white;
  margin-right: 7px;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.btn:active {
  color: white;
}

header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--header-color);
}
nav {
  position: relative;
  margin: 15px;
  width: 335px;
  height: 55px;
  background: var(--background-color);
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}
nav a:nth-child(1) {
  width: 100px;
}
nav .start-home,
nav a:nth-child(1):hover ~ .animation {
  width: 100;
  left: 0;
}
nav a:nth-child(2) {
  width: 125px;
}
nav .start-dashboard,
nav a:nth-child(2):hover ~ .animation {
  width: 125px;
  left: 100px;
}
nav a:nth-child(3) {
  width: 110px;
}
nav .start-log,
nav a:nth-child(3):hover ~ .animation {
  width: 110px;
  left: 225px;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background-color: var(--button-color);
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}
/*universe io */
.title {
  margin: 15px 0 15px 10%;
}
button {
  margin: 0;
  position: relative;
  padding: 15px 35px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: 3px solid var(--background-color);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 2;
}
button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  background-color: var(--button-color);
  border-radius: 8px;
  z-index: -1;
  transition: all 0.5s;
}
button:hover::after {
  top: 0;
  left: 0;
}
/*leaf icon on the title button*/
.icon-1 {
  position: absolute;
  width: 15%;
  top: 7px;
  right: 20px;
  color: #2f5c2f;
  transform-origin: 100% 100%;
  transform: rotate(-60deg) translateX(160%) translateY(20%);
  z-index: -1;
  transition: all 0.5s;
}
button:hover .icon-1 {
  width: 25%;
  transform: rotate(10deg) translateX(110%) translateY(-40%);
}
.icon-2 {
  position: absolute;
  width: 15%;
  top: 20px;
  left: 10px;
  color: #2f5c2f;
  transform-origin: 100% 100%;
  z-index: -1;
  transition: all 0.5s;
}
button:hover .icon-2 {
  width: 50%;
  top: -40px;
  left: -80px;
  transform: rotate(90deg);
  z-index: 1;
}


/*dashboard*/
#create {
  margin: 5% 8% 2% ;
}

/* container for the dashboard*/
.container-db {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% 8% 2%;
}

/*dashboard blog title list */
.list-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 70px;
}

/* a element selector inside  of the container-db*/
.container-db a {
  border-radius: 8px;
  border: 2px solid var(--button-color);
  background-color: var(--background-color);
  color: white;
  text-decoration: none;
  font-size: larger;
  padding: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*style when each of the a element is hovered */
.container-db a:hover {
  background-color: var(--button-color);
  transition: ease 0.5s;
  border: 2px solid var(--background-color);
}